  
  <div class="wrapper">
    <div class="login-box" style="transform: scale(1.4);">
      <form action="">
        <h2>Login</h2>

        <div class="input-box">
          <span class="icon">
          </span>
          <input type="email" placeholder="username"  name="username"  [(ngModel)]="username" required>
        </div>

        <div class="input-box">
          <span class="icon">
          </span>
          <input name="password" placeholder="password" type="password" [(ngModel)]="password" required>
        </div>
        <p *ngIf="loginError" style="color: red !important">
          Please try again.
        </p>
        <div>
          <button style="color: white;" (click)=handleLogin()>Singin with Google </button>
        </div>
        
          <a href="#" (click)=checkLogin($event)>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>

      </form>
      
    </div>

  </div>
